* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    background-image: linear-gradient(#343232a0, #1b1818aa), image-set("imgs/saltillo1.png");
    margin: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    min-height: 200%;
    /* Asegura que cubra toda la altura de la ventana */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(3px);
    /* Ajusta el valor para más o menos desenfoque */
    z-index: -1;
}

body::-webkit-scrollbar {
    background-color: #033ab7;
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
    border-right: 1px solid #033ab7;
    border-left: 1px solid #033ab7;
    width: 10px;
}

/* Personalizar las flechas del scrollbar */
body::-webkit-scrollbar-button {
    background-color: #033ab7;
    width: 10px;
    height: 16px;
    /* Ajusta la altura de los botones según sea necesario */
}

/* Personalizar la flecha hacia arriba */
body::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-color: #033ab7;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="white"><path d="M8 6l4 4H4z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
}

/* Personalizar la flecha hacia abajo */
body::-webkit-scrollbar-button:single-button:vertical:increment {
    background-color: #033ab7;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="white"><path d="M8 10l-4-4h8z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
}

/* Personalizar la flecha hacia la izquierda (si es necesario) */
body::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-color: #033ab7;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="white"><path d="M6 8l4 4V4z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
}

/* Personalizar la flecha hacia la derecha (si es necesario) */
body::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-color: #033ab7;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="white"><path d="M10 8l-4-4v8z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
}

/********************************************/


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #033ab7;
    position: fixed;
    top: 10px;
    left: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 10px;
    margin: 10px 330px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease, opacity 0.5s ease;
    /* Añade transición para animación */
}

header.hidden {
    transform: translateY(-100%);
    /* Mueve el header hacia arriba */
    opacity: 0;
    /* Hace el header transparente */
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: s;
    width: 100%;
}

.logo {
    display: flex;
    margin-left: 5px;

}

.logo img {
    height: 40px;
    width: 35px;
    max-width: 100%;
    filter: drop-shadow(0px 0px 20px);
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    font-size: 18px;
    padding: 5px;
    color: white;
    display: block;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar ul li a#contacto {
    background: #007a06;
    color: white;
    font-size: 18px;
    padding: 5px;
    color: white;
    display: block;
    font-weight: 600;
    transition: background-color 0.4s ease, transform 0.4s ease;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.navbar ul li a#contacto:hover {
    color: #f8ac15;
    background: white;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.navbar ul li a:hover {
    color: #f8ac15;
    transform: scale(1.2);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}


.header-txt {

    text-align: center;
    padding: 0 200px;
    padding-bottom: 150px;
}

.header-txt h1 {
    font-size: 85px;
    line-height: 1;
    color: whitesmoke;
    font-weight: bolder;
    margin-bottom: 20px;

}

.header-txt p {
    font-size: 25px;
    color: white;
    margin-bottom: 35px;
}



p {
    font-size: 20px;
    color: darkslategray;
    margin-bottom: 35px;
}


span {
    font-size: 14px;
    text-transform: uppercase;
    color: #033ab7;
    font-weight: bold;
}

hr {
    border: 1px solid #e6287d;
    width: 15%;
    margin-bottom: 30px;
}

.reglas h1 {
    margin-top: 130px;
    margin-bottom: 40px;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

/*///////////////////////////////*/


.reglas h2 {
    color: #cc0033;
    text-transform: uppercase;
    border-bottom: 2px solid #cc0033;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}
.reglas  {
    margin-left: 50px;
    margin-right: 50px;
}

.tabla {
    background-color: #f7f2e4;
    border-radius: 5px;
    width: 100%;
    table-layout: fixed; /* Esto asegura que todas las columnas tengan el mismo tamaño */
    border-spacing: 50px; /* Espacio entre las celdas */
}

td {
    vertical-align: top;
    padding: 15px;
    text-align: justify;
    word-wrap: break-word; /* Esto permite que el texto se ajuste dentro de la columna */
}



.reglas ul {
    list-style-type: none;
    margin: 0;
    font-size: 18px;
}

.reglas li {
    margin-bottom: 10px;
    
}

.rule-title {
    font-weight: bold;
    color: #033ab7;
    font-size: 20px;
}

/* apartado de redes sociales  */
.social-section {
    text-align: center;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 100px;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.social-section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.social-section p {
    color: #555;
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ddd;
    color: white;
    font-size: 24px;

}

.social-icon.fb {
    background-color: #e6287d;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-icon.ig {
    background-color: #007a06;
    transition: background-color 0.3s ease, transform 0.3s
}

.social-icon.x {
    background-color: #033ab7;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-icon.tt {
    background-color: #f8ac15;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-icon.fb:hover {
    background-color: #3b5998;
    transform: scale(1.1);
}

.social-icon.ig:hover {
    background-color: #F56040;
    transform: scale(1.1);
}

.social-icon.x:hover {
    background-color: #000000;
    transform: scale(1.1);
}

.social-icon.tt:hover {
    background-color: #000000;
    transform: scale(1.1);
}

/* footer */
.footer {
    padding: 100px 0;
    background-color: #191a1f;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer h2 {
    color: whitesmoke;
}

footer {
    margin-top: 0;
    background-color: #033ab7;
    color: whitesmoke;
    padding: 15px 0;
    text-align: center;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    border-top: 1px solid #f8ac15;
}

.separador2 {
    height: 30px;
    /* Ajusta la altura para hacer el separador más delgado */
    width: 100%;
    overflow: hidden;
    /* Asegúrate de que no haya desbordamiento */
    padding: 0;
    margin: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.separador2 img {
    width: 100%;
    /* Hace que la imagen abarque todo el ancho */
    height: auto;
    /* Mantiene la proporción de la imagen */
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    flex-wrap: wrap;
}

.footer-left {
    flex: 1;
}

.footer-logo {
    width: 120px;
    margin-right: 15px;
}

.footer-center {
    flex: 2;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
    display: inline-block;
}

.footer-links li {
    display: inline;
    margin-right: 15px;
}

.footer-links li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-links li a:hover {
    color: #f8ac15;
}

.footer-center p {
    font-size: 12px;
    margin-top: 10px;
    color: whitesmoke;
}

.footer-right {
    flex: 1;
    text-align: right;
}

.footer-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    /* Aumenta el espacio entre los iconos */
}

.footer-icons a {
    color: whitesmoke;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer-icons a.facebook {
    width: 1px;
    /* Reduce el tamaño del icono de Facebook */
}

.footer-icons a:hover {
    color: #f8ac15;
}

.footer-icons a:hover .icon-x {
    filter: invert(30%) sepia(100%) saturate(747%) hue-rotate(330deg) brightness(95%) contrast(101%);
}

.footer-left img {
    margin-top: 5px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .column {
        width: 100%;
        margin-bottom: 20px;
    }
}